<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring 5</title>
</head>
<body>
<h1>Author List</h1>
<table>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Book title</th>
    </tr>
    <tr th:each="author:${authors}">
        <td th:text="${author.firstName}">1</td>
        <td th:text="${author.lastName}">Java</td>
        <th:block th:each="book:${author.books}">
            <td th:text="${book.title}">Java</td>
        </th:block>
    </tr>
</table>
</body>
</html>